*{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
}




table{
   width: 90%;
   height: 100vh; 
   margin-left: auto;
   margin-right: auto;
   margin-top: 10px;
   border-collapse: collapse;
   /* border: 3px solid green; */
   /* display: none; */
   /* overflow: scroll; */

}

table tr td .table-link{
    color: rgb(7, 101, 209);
    text-align: center;
    text-transform: capitalize;
    text-decoration: none;


    
}
table tr td img{
    object-fit: cover;
}
.center{
    text-align: center;
}